---
title: "News | Travel Behavior Research Group"
layout: textlay
excerpt: "News from the Travel Behavior Research Group."
permalink: /news/
---
<p class="page-kicker">News</p>
<h1>Group news</h1>
<ol class="news-list">
{% assign news_items = site.data.news.items | default: site.data.news %}
{% for article in news_items %}
{% assign news_iso = article.date | date: '%Y-%m-%d' %}
{% assign linked_post = false %}
{% for post in site.posts %}
{% assign post_iso = post.date | date: '%Y-%m-%d' %}
{% if post_iso == news_iso %}
{% assign linked_post = post %}
{% endif %}
{% endfor %}
<li class="news-item">
<time class="news-date" datetime="{{ news_iso }}">{{ article.date }}</time>
{% if linked_post %}
<p class="news-headline"><a href="{{ linked_post.url | relative_url }}">{{ article.headline }}</a></p>
{% else %}
<p class="news-headline">{{ article.headline }}</p>
{% endif %}
</li>
{% endfor %}
</ol>
